<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/menu.ejs'); %>
    </header>
    <div class="container d-flex flex-column  align-items-center jumbotron">
        <h1>Home Page</h1>
        <div class="underline"></div>
        <p>Welcome to <strong>my App</strong>, have a nice day!</p>
    </div>
    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>
</html>